body {
	background-color: black;
	align-items: center;
	justify-content: space-around;
}
h1 {
	color: white;
	font-family: verdana;
	font-size: 8vw;
}
h2 {
	color: white;
	font-family: verdana;
	font-size: 6vw;
}	
p {
	color: white;
	font-family: verdana;
	font-size: 4vw;
}
a {
	color: powderblue;
	font-family: verdana;
	font-size: 4vw;
}
.centerImage {
	display: block;
	margin-left: auto;
	margin-right: auto;
  	width: 30%;
  	margin-top: 10%;
}
.storeLogos {
	display: flex;
	height: auto;
	width: 40vw;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: auto;
}
.badges {
	width: 15vw;
	height: auto;
	object-fit: cover;
}
.badges:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.termsLinkStyle {
	text-align: center;
	color: gray;
	font-family: verdana;
	font-size: 3vw;
	margin-top: 10vw;
}
.markStyle {
	text-align: center;
	color: gray;
	font-family: verdana;
	font-size: 4vw;
	margin-top: 10vw;
}