body {
	background-color: black;
	height: 100%;
	margin: 0;
	padding-left: 5%;
	padding-right: 3%;
}
h1 {
	color: white;
	font-family: verdana;
	text-align: center;
}
h2 {
	color: white;
	font-family: verdana;
}
h3 {
	color: white;
	font-family: verdana;
}
h4 {
	color: white;
	font-family: verdana;
}	
p {
	color: white;
	font-family: verdana;
  	line-height:1.5em;/* chrome for instance */
}
ul {
	color: white;
	font-family: verdana;
}
li {
    margin-bottom: 1.5em !important;
}
a {
	color: powderblue;
	font-family: verdana;
}
br {
	content: "A" !important;
    display: block !important;
    margin-bottom: 1.5em !important;
}
.grid-container { height: 100%; margin: 0; }
.grid-container {
  	display: grid;
  	grid-template-columns: 1fr 1fr 1fr 1fr;
  	grid-template-rows: 1fr 1fr 1fr 1fr;
  	grid-template-areas: ". Logo Logo ." ". Logo Logo ." ". badges badges ." ". info info .";
}
.logo {
	grid-area: Logo;
	align-self: center;
}
.badges {
	grid-area: badges;
	flex-direction: row;
}
.info {
	grid-area: info;
}

.center {
	display: flex;
	height: 50%;
	align-self: center;
	justify-content: center;
	align-items: center;
	margin: auto;
}
.centerImage {
	display: grid;
  	grid-template-columns: 1fr 1fr 1fr 1fr;
  	grid-template-rows: 1fr 1fr 1fr 1fr;
}
.storeLogos {
	display: flex;
	height: 50%;
	width: 40vw;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: auto;
}
.termsLinkStyle {
	text-align: center;
	color: gray;
	font-family: verdana;
	font-size: 1.8vw;
	margin-top: 10vw;
}
.markStyle {
	text-align: center;
	color: gray;
	font-family: verdana;
	font-size: 2vw;
	margin-top: 10vw;
}
